parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: {{ caas_db }}
    database_user: root
    database_password:

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user:
    mailer_password:
    mailer_sender:
    mailer_delivery_address:

    locale: nl
    secret: <random 32 char string>

    buckaroo_merchant_key:
    buckaroo_secret_key:
    buckaroo_is_test:
    buckaroo_payment_method_code:
    buckaroo_url:

    buckaroo3_key:
    buckaroo3_secret:
    buckaroo3_is_test:


    ideal_merchant_id:
    ideal_sub_id:
    ideal_private_key:
    ideal_private_key_pass:
    ideal_private_cert:
    ideal_acquirer_url:
    ideal_acquirer_cert:

    payment_provider:
    payment_callback:

    mailchimp_api_key: <valid api key>
    mailchimp_default_list: <default list>

    facebook_id: <facebook id>
    facebook_secret: <facebook secret>

    show_toolbar: true

    ga_id:
    ga_domain:
    ga_caas_id:

    aws.s3.key:
    aws.s3.secret:
    